@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default"; */
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

body {
  background-color: #3c3557;
}

:root {
  --poison-green-dark: #0b7a39;
  --poison-green: #39d353;
  --poison-lime: #a8e10c;
  --poison-yellow: #e6d72a;
  --poison-orange: #ffb000;
}

.poison-gradient-text {
  background: linear-gradient(
    90deg,
    var(--poison-green-dark) 0%,
    var(--poison-green) 30%,
    var(--poison-lime) 60%,
    var(--poison-yellow) 80%,
    var(--poison-orange) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: 0 auto;
  font-size: 24px !important;
}

.welcome {
  font-size: 32px;
  font-family: arial;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.atb_btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: arial;
  font-weight: bold;
}

.atb_btn_red {
  background-color: #dbd255;
}

.atb_btn_green {
  background-color: #2fb3c3;
}

.atb_btn_blue {
  background-color: #9696d3;
}

.ivy {
  color: #fff;
}

.container {
  display: flex;
  font-size: 14px !important;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.hero-text {
  position: absolute;
  top: 25%;
  left: 65%;
  z-index: 1;
  color: #fff;
  font-size: 50px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .ivy {
    color: #0cfa77;
  }

  .atb_btn_blue {
    background-color: #a804ee;
  }
}
